<div class="card spaceTop" >
  <div class="card-header">Nouveau Article</div>
  <div class="card-body" *ngIf="modeAdded == 0">
    <form #f="ngForm" (ngSubmit)="onAddArticle(f.value)">
      <div class="form-group">
        <label for="titre">Titre:</label>
        <input type="text" class="form-control" placeholder="Titre Article" id="titre" ngModel name="titre">
      </div>
      <div class="form-group" *ngIf="categories">
        <label for="sel1">Catégorie :</label>
        <select class="form-control" id="sel1" ngModel name="category">
          <option *ngFor="let c of categories._embedded.categories" value="{{c.id}}">{{c.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="comment">Text :</label>
        <textarea class="form-control" rows="5" id="comment" ngModel name="description" placeholder="Text Article"></textarea>
      </div>

      <button type="submit" class="btn btn-success btn-sm toright">Ajouter</button>
    </form>
  </div>
  <div class="card-body" *ngIf="modeAdded==1 && currentArticle">
    <div class="card bg-success text-white">
      <div class="card-body">Article ajoutée avec succès</div>
    </div>

    <dl class="row">
      <dt class="col-sm-3">Titre</dt>
      <dd class="col-sm-9">{{currentArticle.title}}</dd>

      <dt class="col-sm-3">Article</dt>
      <dd class="col-sm-9">
        <p>{{currentArticle.description}}</p>
      </dd>

      <dt class="col-sm-3">Date</dt>
      <dd class="col-sm-9">{{currentArticle.dateAdd}}</dd>
    </dl>
      <button routerLink="/home" class="btn btn-success btn-sm toright">Retour</button>


  </div>
</div>
